/* universal selector - can setup std margin, padding, font, color */

/* * {
    margin: 0;
    padding: 0;
    color: red;
} */

/* tag-name selector - all from same elements get same style */

/* p {
    color: red;
} */
/* 
h3 {font-size: 14px;
} */

/* class-name selector - not all tags to inherit the same styles, only certain collection has set of styles */

  /* .heading { */
    /* font-style: italic; */
    /* color: red; */
  /* } */

/* id selector  - apply change to a single element*/

/* #main-language {
    font-weight: bold;
} */

* {
  font-weight:bold;
  color: darkblue;
}

div{
    display:block;
    margin:auto;
    padding: 4vh;
    width: fit-content;
    border:1px solid;
    border-radius: 10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

img{
  border-radius: 10px;
}